td,
th {
  padding: 0;
  text-align: center;
}

.flights-table {
  width: 902px;
  margin: 0 48px 48px 48px;
  background-color: #fff;
  font-size: 18px;

  padding: 26px 0px;
  border-spacing: 10px;
  border-collapse: collapse;

  &__header {
    color: #95989a;
    display: table-cell;
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    padding: 12px;
  }

  &__row:hover {
    box-shadow: 1px 1px 3px 3px #55989a;
  }

  &__row:hover .flights-table__hidden {
    opacity: 1;
    color: #1eb7ee;
    text-decoration: underline;
    cursor: pointer;
  }

  &__terminal-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid;
    border-radius: 50%;
    font-weight: 900;
    margin: 0 0 0 20px;
  }

  &__row:nth-child(2n+1) {
    width: 100%;
    background-color: rgba(30, 183, 238, 0.1);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  &__img-box {
    height: 40px;
  }

  &__img {
    max-width: 90%;
    max-height: 90%;
  }

  &__not-found {
    text-align: center;
    padding-top: 80px;
    font-size: 48px;
    color: #95989a;
  }

  &__hidden {
    opacity: 0;
  }
}