@import'../../../sassStyles/variables.scss';

.board {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  &__btn {
    font-size: 24px;
    color: $mainBlue;
    background-color: $mainWhite;
    border: none;
    text-align: center;
    text-decoration: none;
    
  }


  &__icon {
    margin-right: 16px;
  }

  &__departures {
    width: 500px;
    transform: translateX(50px);
    border-radius: 80px 80px 0 0;
    padding-right: 100px;
    color: $mainWhite;
    background-color: $mainBlue;
    font-size: 24px;
    line-height: 60px;

    position: relative;
  }

  &__arrivals {
    position: relative;
    overflow: hidden;
    transform: translateX(-50px);
    width: 500px;
    color: $mainWhite;
    background-color: $mainBlue;
    border-radius: 80px 80px 0 0;
    position: relative;
    font-size: 24px;
    line-height: 60px;
    z-index: 2;
  }
}

.board__btn-active {
  color: $mainBlue;
  background-color: $mainWhite;
}
